{% extends "dashboard/base.html" %}
{% block no_auth_content %}
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-12">
      <a href="{% url 'dashboard' %}">
        <h3 class="text-center">
          <i class="fas fa-copyright"></i>
        </h3>
      </a>
      <form class="" novalidate method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
      <br>
      <small class="text-muted">Forgot your <a href="{% url 'password_reset' %}">password</a>?</small>
      <!-- Signup process not included.
      <br>
      <small class="text-muted">New to Babylon? <a href="">Sign up!</a></small>
      -->
    </div>
</div>
{% endblock %}