{% extends "base.html" %}
{% block no_auth_content %}
<div class="wrapper pt-5">
  <div class="row align-items-center">
    <div class="col-lg-3 col-md-6 col-10 mx-auto text-center">
      <div class="text-center mb-3">
        <a href="{% url 'login' %}">
          <h4>
            <b>Django</b>
            <small> OTP Dispatcher</small>
          </h4>
        </a>
      </div>
        <h3 class="text-center">Your password has been changed!</h3>
        <br>
        <small class="text-muted">
            <a href="{% url 'login' %}" class="">log in</a> again?
        </small>
    </div>
</div>
{% endblock %}