{% extends "base.html" %}
{% block no_auth_content %}
{% load crispy_forms_tags %}
<div class="wrapper pt-5">
  <div class="row align-items-center">
    <form class="col-lg-3 col-md-6 col-10 mx-auto text-center"
          method="post" action="" novalidate>
      <div class="text-center mb-3">
        <a href="#">
          <h4>
            <b>Django</b>
            <small> OTP Dispatcher</small>
          </h4>
        </a>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="">You forgot your password? Here you can easily retrieve a new password.</p>
          <form method="post" novalidate>
            {% csrf_token %}
            <div class="form-group mb-3">
              {{ form.email|as_crispy_field }}
            </div>
            <div class="form-group mb-3">

            </div>
            <button type="submit" class="btn btn-primary btn-block">Request new password</button>
          </form>
          <p class="mb-0 mt-3">
            <a href="{% url 'login' %}" class="pb-3">Login</a>
          </p>
        </div>

      </div>
  </div>
</div>
{% endblock %}