{% extends "dashboard/base.html" %}
{% block no_auth_content %}
<div class="row">
    <div class="col-md-12">
        <a href="{% url 'dashboard' %}">
          <h3 class="text-center">
            <i class="fas fa-copyright"></i>
          </h3>
        </a>
        <br>
        <p class="text-center">We've emailed you instructions for setting your password.</p>
        <p class="text-center">If they haven't arrived in a few minutes, check your spam folder.</p>
      </div>
</div>
{% endblock %}