{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="wrapper pt-5">
  <div class="row align-items-center h-100">
    <form class="col-lg-3 col-md-6 col-10 mx-auto text-center"
          method="post" action="" novalidate>
      <div class="text-center mb-3">
        <h4>
          <b>Change</b>
          <small> Password</small>
        </h4>
      </div>
      <div class="card">
        <div class="card-body">
          <form method="post" novalidate>
            {% csrf_token %}
            <div class="form-group mb-3">
              {{ form|crispy }}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
          </form>
        </div>
      </div>
  </div>
</div>
{% endblock %}