{% extends "base.html" %}
{% block no_auth_content %}
<div class="wrapper pt-5">
  <div class="row align-items-center">
    <div class="col-md-12">
        <div class="text-center mb-3">
            <a href="{% url 'dashboard' %}">
                <h4>
                    <b>Django</b>
                    <small> OTP Dispatcher</small>
                </h4>
            </a>
        </div>
        <p class="text-center">We've emailed you instructions for setting your password.</p>
        <p class="text-center">If they haven't arrived in a few minutes, check your spam folder.</p>
      </div>
  </div>
</div>

{% endblock %}